.places {
	width: 90%;
	margin: 92px auto 0;
}

@media screen and (min-width: 1280px) {
	.places {
		width: 77%;
	}
}

@media screen and (max-width: 900px) {
	.places {
		margin: 88px auto 0;
	}
}

@media screen and (max-width: 700px) {
	.places {
		width: 100%;
		margin: 64px auto 0;
	}
}