.lead {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 1280px) {
	.lead {
		width: 77%;
	}
}
@media screen and (max-width: 900px) {
	.lead {
		width: 100%;
	}
}
