.place {
	display: grid;
	grid-template-columns: 48% 48%;
	justify-content: space-between;
	align-content: space-between;
	row-gap: 48px;
	column-gap: 32px;
	margin-bottom: 80px;
}

.place:last-of-type {
	margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
	.place {
		column-gap: 40px;
	}
}

@media screen and (max-width: 900px) {
	.place {
		column-gap: 28px;
		margin-bottom: 73px;
	}
}

@media screen and (max-width: 700px) {
	.place {
		display: grid;
		grid-template-columns: 100%;
		justify-content: space-between;
		align-content: space-between;
		row-gap: 32px;
		margin-bottom: 50px;
	}
}